<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-BmF6ijErvxEKgYnx20_83NLrHJGeUlk</string>
	<key>GCM_SENDER_ID</key>
	<string>731334414991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evs.dev.IL-Ricercatore</string>
	<key>PROJECT_ID</key>
	<string>ilrecreator-2ef19</string>
	<key>STORAGE_BUCKET</key>
	<string>ilrecreator-2ef19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731334414991:ios:fddeaadbe0e1eee13116fa</string>
</dict>
</plist>